
<% include partials/_header %>

<div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                            <a href="/session/nuevodoctor" class="btn btn-primary btn-lg btn-block">Nuevo Doctor</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                                <a href="/session/nuevopaciente" class="btn btn-success btn-lg btn-block">Nuevo Paciente</a>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row align-items-end">
                <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">
                                    <a href="/session/atencionpaciente" class="btn btn-primary btn-lg btn-block">Nueva vacuna</a>
                            </div>
                        </div>
            </div>
        </div>
</div>
<% include partials/_footer %>