
<% include partials/_header %>
<div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-5">
                    <div class="card border-success mb-3">
                        <h5>Curp: <%= docs[0].curp%></h5>
                        <h5>Nombre: <%= docs[0].nombre %></h5>
                        <h5>Fecha De Nacimiento: <%= docs[0].fechanacimiento.toISOString() %></h5>
                        <h5>Sexo: <%= docs[0].sexo %></h5>
                    </div>
            </div>

            <!-- LIST -->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Cartilla</th>
                            <th>Edad</th>
                            <th>enlace</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ni単as y ni単os</td>
                            <td>0 a 9</td>
                            <td>
                                <a href="/ni単as_y_ni単os" class="btn btn-dark btn-block">ir</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Adolescentes</td>
                            <td>10 a 19</td>
                            <td>
                                <a href="/adolescentes" class="btn btn-dark btn-block">ir</a>
                            </td>
                        </tr>
                        <% if(docs[0].sexo == 'Mujer'){ %>
                        <tr>
                            <td>Mujeres</td>
                            <td>20 a 59</td>
                            <td>
                                <a href="/mujeres" class="btn btn-dark btn-block">ir</a>
                            </td>
                        </tr>
                        <% } %>
                        <% if(docs[0].sexo == 'Hombre'){ %>
                        <tr>
                            <td>Hombres</td>
                            <td>20 a 59</td>
                            <td>
                                <a href="/hombres" class="btn btn-dark btn-block">ir</a>
                            </td>
                        </tr>
                        <% } %>
                        <tr>
                            <td>Adulto mayor</td>
                            <td>60+</td>
                            <td>
                                <a href="/adulto" class="btn btn-dark btn-block">ir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<% include partials/_footer %>