<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cartilla De Vacunacion Digital</title>
    <!-- Bootstrap -->
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-4 ">
        <a href="/" class="navbar-brand">Cartilla Digital</a>
        <ul class="nav nav-fill justify-content-end">
            <% if(!paginalogin){ %>
                <% if(!session){  %>
                    <li class="nav-item"><a href="/login" class="btn navbar-btn btn-primary">Inicio De Sesión</a></li>
                <%}%>
                <% if(session){  %>
                    <li class="nav-item"><a  href="/session/dashboard" class="btn navbar-btn btn-primary nav-item nav-link">Dashboard</a></li>
                    <li class="nav-item"><a   href="/session/exit" class="btn navbar-btn  btn-danger  nav-item nav-link ">Cerrar Sesión</a></li>
                <%}%>
            <%}%>

        </ul>
    </nav>